{%
func cmpfunc(a, b)
  return iff(a.keyword == b.keyword, 0, iff(a.keyword < b.keyword, -1, 1))
end
tload "reference.json", s, 1
ref = array(s)
sort ref["Console"] use cmpfunc(x,y)
sort ref["Data"] use cmpfunc(x,y)
sort ref["Date"] use cmpfunc(x,y)
sort ref["File"] use cmpfunc(x,y)
sort ref["Graphics"] use cmpfunc(x,y)
sort ref["Language"] use cmpfunc(x,y)
sort ref["Math"] use cmpfunc(x,y)
sort ref["String"] use cmpfunc(x,y)
sort ref["System"] use cmpfunc(x,y)
%}
<div class="home">
  <h1 class="page-heading">Console</h1>
  {% for post in ref["Console"] %}
    <a title="{{post.help}}" href="{{ post.nodeId }}.html">{{ post.keyword }}</a>
  {% next post %}
  <h1 class="page-heading">Data</h1>
  {% for post in ref["Data"] %}
    <a title="{{post.help}}" href="{{ post.nodeId }}.html">{{ post.keyword }}</a>
  {% next post %}
  <h1 class="page-heading">Date</h1>
  {% for post in ref["Date"] %}
    <a title="{{post.help}}" href="{{ post.nodeId }}".html>{{ post.keyword }}</a>
  {% next post %}
  <h1 class="page-heading">File</h1>
  {% for post in ref["File"] %}
    <a title="{{post.help}}" href="{{ post.nodeId }}".html>{{ post.keyword }}</a>
  {% next post %}
  <h1 class="page-heading">Graphics</h1>
  {% for post in ref["Graphics"] %}
    <a title="{{post.help}}" href="{{ post.nodeId }}".html>{{ post.keyword }}</a>
  {% next post %}
  <h1 class="page-heading">Language</h1>
  {% for post in ref["Language"] %}
    <a title="{{post.help}}" href="{{ post.nodeId }}".html>{{ post.keyword }}</a>
  {% next post %}
  <h1 class="page-heading">Math</h1>
  {% for post in ref["Math"] %}
    <a title="{{post.help}}" href="{{ post.nodeId }}".html>{{ post.keyword }}</a>
  {% next post %}
  <h1 class="page-heading">String</h1>
  {% for post in ref["String"] %}
    <a title="{{post.help}}" href="{{ post.nodeId }}".html>{{ post.keyword }}</a>
  {% next post %}
  <h1 class="page-heading">System</h1>
  {% for post in ref["System"] %}
    <a title="{{post.help}}" href="{{ post.nodeId }}".html>{{ post.keyword }}</a>
  {% next post %}
  <br/>
</div>
