<div class="article">
  <h1>{{ upper(page.name) }}</h1>
  <blockquote>{{ page.title }}</blockquote>
  <div class="siteSub">
    <p>
      <a href="/">Home</a> &gt;
      <a href="/pages/reference.html">Reference</a> &gt;
      <a href="/pages/{{ lcase(page.package) }}.html">{{ page.package }}</a>
    </p>
  </div>
  {% rem header left inside each markdown in case required for PDF generation %}
  {%
    eol = instr(content, chr(10))
    eol = instr(eol + 1, content, chr(10))
    eol = instr(eol + 1, content, chr(10))
    content = mid(content, eol + 1)
  %}
  {{ content }}
  <div class="lavenderBox">
    <div class="header">{{ page.package }}</div>
    <div class="linklist">
      {% tload "_out/data/" + lower(page.package) + ".json", s, 1
         items = array(s)
         func cmpfunc(a, b)
           return iff(a[0] == b[0], 0, iff(a[0] < b[0], -1, 1))
         end
         sort items use cmpfunc(x,y)
         for next_item in items
           if (next_item[0] == page.name) then next_item[0] = "<strong>" + next_item[0] + "</strong>"
      %}
      <a href="/reference/{{ next_item[1] }}.html">{{ next_item[0] }} </a>&nbsp;
      {% next next_item %}
    </div>
    <div class="subtitle">
      If there is insufficient information on this page and you wish learn more about {{ page.name }},
      please send an email to smallbasic@gmail.com. You can help to improve information about
      {{ page.name }} by submitting a <a href="https://github.com/smallbasic/smallbasic.github.io/pulls">pull request</a>,
      click View Source for details. Note, an offline language reference text file is also avialable - see the Download section.
    </div>
  </div>
  <div class="categories">
    <a href="/pages/console.html">Console </a>
    <a href="/pages/data.html">Data </a>
    <a href="/pages/date.html">Date </a>
    <a href="/pages/file.html">File </a>
    <a href="/pages/graphics.html">Graphics </a>
    <a href="/pages/language.html">Language </a>
    <a href="/pages/math.html">Math </a>
    <a href="/pages/string.html">String </a>
    <a href="/pages/system.html">System </a>
  </div>
</div>
